<!-- Daniel TODO: Display the dishes of the full menu with ImageURL120 and title, clicking can reference back to the dish? -->
<!-- Implement total cost and cost per dish -->

<div class="row well">
	My Dinner: {{getNumberOfGuests()}} people
	<a href="#/search" class="btn btn-primary">Go back and edit dinner</a>
</div>

<div class="row well">
	<div style="width: 50%; margin: 0 auto;">
		<div style="display:block;float:left;max-width:100px;margin-right:20px;margin-bottom:20px;" ng-repeat="item in fullMenu">
			{{getDishByID(item).Category}}<br/>
			<a ng-href="#/dish/{{dish.RecipeID}}">
			<img ng-src="{{dish.ImageURL}}" style="height:100px;width:100px;"/> </br>
				{{getDishByID(item).Title}}
			</a>
			<br/>
			<!-- TODO: Add the cost function -->
			<span style="color:orange;">50.00 SEK</span>
		</div>
		<div style="border-left:1px solid #ddd;padding:20px;color:orange;font-weight:bold;">
			Total Costs: <!-- TODO Add Total cost function --> 500.00 SEK
		</div>
		<div style="clear:both;padding-top:20px;border-top:1px solid #ccc;text-align:center;">
			<a href="#/preparation" class="btn btn-primary">Print full receipt</a>
		</div>
	</div>
</div>
