<div class="sidebar col-xs-3">
	<div class="well">
	People: <input type="number" style="width: 40px !important;" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>

	<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


	<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
	purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
	this with Total price of the menu -->
	Total number of guest: {{getNumberOfGuests()}}

		<div>
			<table>
				<thead>
				<tr><td><b>Dish Name</b></td>
				<td><b>Cost</b></td></tr>
				</thead>
				<tbody>
				<tr ng-repeat="dish in fullMenu" ng-init="getPrice(dish)">
					<td>{{dish.Title}}</td>
					<td>&nbsp;&nbsp;&nbsp;{{dish.individualPrice}}</td>
					<td>&nbsp;&nbsp;&nbsp;<img style="height:10px;width:10px;cursor: pointer" src="images/delete.png" ng-click="removeDish(dish)"/></td>
				</tr>
				<tr><td colspan="2"><hr /></td></tr>
				<tr><td>Total</td><td>{{getTotalCost() * getNumberOfGuests()}} Sek</td></tr>
				</tbody>
			</table>
		</div>
	<a href="#/dinner-overview" class="btn btn-primary">Confirm Dinner</a>
</div>
</div>