<!-- We include the sidebar as it is shared across two screens. -->

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div class="container wrap sidebar-right">
    <div class="container">
        <div class="row">
            <div class= "main col-xs-9">
                <div class="well">{{status}}
                    <table>
                        <tbody>
                           <tr>
                               <td>{{dish.Title}}</td>
                           </tr>
                        <tr>
                            <td><img src={{dish.ImageURL}} style="height:300px;width:300px;"/></td>
                        </tr>
                        </tbody>
                    </table>

                        <ul>
                            <li ng-repeat="ingredient in dish.Ingredients">
                                <b>Name :</b> {{ingredient.Name}}
                                <b>Quantity :</b> {{ingredient.Quantity}}
                                <b>Preparation:</b>{{ingredient.PreparationNotes}}
                                <b>Unit : </b>{{ingredient.Unit}}
                                <b>Price : </b>{{ingredient.Quantity * 1}} Sek
                            </li>
                        </ul>
                        <div>
                            <b>Instructions:</b> <br />
                            {{dish.Instructions}}
                        </div>
                    <br />
                        <div>
                            <button ng-click="addDish(dish)">Select</button>
                        </div>
                    </div>
            </div>
            <ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
        </div>
    </div>
</div>
